<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{ page_title | escape }}</title>
    {{ 'tokens.css' | asset_url | stylesheet_tag }}
    {{ 'base.css' | asset_url | stylesheet_tag }}
    {{ 'utilities.css' | asset_url | stylesheet_tag }}
    {{ content_for_header }}
  </head>

  <body>
    <a href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>

    {% section 'header' %}

    <main id="MainContent" role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>
  </body>
</html>
